.calculator-wrapper{
    width: 50vw;
    height: 60vh;
    color: #f7f7f7;
    box-shadow: 0 20px 30px rgba(0,0,0, .1);
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    padding: 30px 0;
}

@media only screen and (max-width: 767px){
    .calculator-wrapper{
        width: 90vw;
    }
}

.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-bottom: 2px solid #C10708;
    padding-bottom: 50px;
}

.form-box h2{
    color: #444
}


.form-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


input{
    margin-bottom: 10px;
    border: 1px solid #555;
    padding: 10px 10px;
    font-size: 14px;
    width: 250px;
}


button{
    margin-bottom: 10px;
    border: 1px solid #C10708;
    padding: 10px 20px;
    background-color: #C10708;
    color: #fff;
    outline: none;
    font-size: 14px;
    width: 250px;
}


.result-box{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.result-box h2{
    color: #444
}





